._dash-undo-redo {
  display: none;
}
.container{
  width: 100%!important;
}
#react-entry-point{
  min-height: 79%;
}
body{
  height: 100%;
}
#tabs-parent {
  margin: 30px 0;
}

#tabs {
  display: flex;
  justify-content: center;
}

#tabs .tab {
  width: 300px;
  padding: 15px 64px;
  font-size: 24px;
  line-height: 32px;
  border-radius: 6px;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  color: #666;
  box-shadow: 0 0 1px 1px #efefef;
  font-family: "CHANEWEI", Helvetica, Arial, sans-serif;
}

#tabs .tab:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  color: #666;
  box-shadow: 0 0 1px 1px #efefef;
}

#tabs .tab:first-child {
  border-radius: 6px 0 0 6px;
}

#tabs .tab:last-child {
  border-radius: 0 6px 6px 0;
}

#tabs .tab--selected {
  width: 300px;
  background-color: #fcda59;
  border-color: #fcda59;
  color: #685723;
  box-shadow: none;
}

#tabs .tab--selected:hover{
  background-color: #fdd306 !important;
  border-color: #fdd306 !important;
  color: #685723 !important;
  box-shadow: none !important;
}

#graph-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

#graph-wrapper > div {
  flex: 1;
}

#bubble {
  flex-grow: 2!important;
}

#linea-titulo {
  text-align: center;
  font-family: "OpenSans", Helvetica, Arial, sans-serif !important;
  font-weight: 700;
  color: #676767;
  text-transform: capitalize;
  font-size: 20px;
}
